New Unity Project/Temp/UnityLockfile
New Unity Project/.vs/New Unity Project/v15/Server/sqlite3/db.lock
New Unity Project/Temp/UnityTempFile-190ebdf75f9a45241a14106cf02ee7f6
New Unity Project/Temp/UnityTempFile-1d0ebdc7067b2fb4aa8e6091e8c1edb7
New Unity Project/Temp/UnityTempFile-3164aee193cb77945a27354c42686d09
New Unity Project/Temp/UnityTempFile-4d2802605996ebe4c82d130157ff2e76
New Unity Project/Temp/UnityTempFile-553b92719247efb4dbc084741d23dddc
New Unity Project/Temp/UnityTempFile-d51f8bedb5f1bf14da5de394429227b2
New Unity Project/Temp/UnityTempFile-e439a78046b2c1b42afb0033bda81b25
New Unity Project/Temp/UnityTempFile-ea5821584c5d7e1419f359e08a7b3db6
